<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Tomáš Linhart">
    <meta name="description" content="Konferenční systém">
    <meta name="keywords" content="konference,konferenční systém,systém,hodnocení,recenze">
    <title>Konferenční systém</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <?php
      if (isset ($_SESSION["loggedIn"]) && $_SESSION["loggedIn"] == true) {
        require("view/patterns/headerLoggedIn.phtml");
      } else {
        require("view/patterns/headerDefault.phtml");
      }

      if (isset($_GET["url"])) {
        require("view/" . $_GET["url"] . ".phtml");
      } else {
        require("view/homePage.phtml");
      }
    ?>
  </body>
</html>
