<nav class="navbar navbar-dark bg-primary navbar-expand justify-content-between">
  <a class="navbar-brand ml-5" href="/#">
    <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Konferenční systém
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#">Domů</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Konference
        </a>
        <?php
          if ($_SESSION["Role"] == 1) { //Admin
              echo '<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/?url=publicPosts">Veřejné příspěvky</a>
                <a class="dropdown-item" href="/?url=postManagement">Přehled příspěvků</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/?url=userManagement">Správa uživatelů</a>
              </div>';
          } else if ($_SESSION["Role"] == 2) { //Recenzent
            echo '<div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/?url=publicPosts">Veřejné příspěvky</a>
              <a class="dropdown-item" href="/?url=myReview">Příspěvky k recenzi</a>
            </div>';
          } else { //Autor
            echo '<div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/?url=publicPosts">Veřejné příspěvky</a>
              <a class="dropdown-item" href="/?url=myPosts">Mé příspěvky</a>
              <a class="dropdown-item" href="/?url=newPost">Nový příspěvek</a>
            </div>';
          }
        ?>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/#about">O nás</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/#upcoming">Nadcházející konference</a>
      </li>
   </ul>
 </div>
 <div class="nav-item mr-3 text-light">Uživatel: <?php echo $_SESSION["Name"] . " " . $_SESSION["Surname"]?></div>
 <button class="btn btn-danger mr-5" type="button" onclick="location.href='/?url=logout'">Odhlásit se</button>
  <!-- Navbar content -->
</nav>
