<nav class="navbar navbar-dark bg-primary navbar-expand justify-content-between">
  <a class="navbar-brand ml-5" href="/#">
    <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Konferenční systém
  </a>
  <div class="collapse navbar-collapse">
   <div class="navbar-nav">
     <a class="nav-item nav-link" href="/#">Domů</a>
     <a class="nav-item nav-link" href="/#about">O nás</a>
     <a class="nav-item nav-link" href="/#upcoming">Nadcházející konference</a>
     <a class="nav-item nav-link" href="/?url=publicPosts">Zveřejněné články</a>
   </div>
 </div>
 <button class="btn btn-secondary mr-3" type="button" onclick="location.href='/?url=register'">Zaregistrovat se</button>
 <button class="btn btn-success mr-5" type="button" onclick="location.href='/?url=login'">Přihlásit se</button>
  <!-- Navbar content -->
</nav>
