<?php
$reviewData = $_POST["reviewData"][0];
$explodedFilePath = explode("/", $reviewData["File"]);
$explodedFileName = explode(".", $explodedFilePath[sizeof($explodedFilePath) - 1]);
?>
<div class="row">
  <div class="w-50" style="min-height: 800px">
    <h2 class="text-center">Odevzdaná práce</h2>
    <?php
    if($explodedFileName[sizeof($explodedFileName) - 1] == "pdf") {
      echo '<object data="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '" type="application/pdf" class="w-100" style="min-height: 700px">
        <embed src="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '" type="application/pdf" />
        </object>';
    } else {
      echo '<h2 class="text-center">Pro prohlížení práce je nutné soubor <a href="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '">stáhnout.</a>';
    }
    ?>
  </div>

  <div class="w-50" style="min-height: 800px">
    <h2 class="text-center">Komentář autora</h2>
    <iframe src="/?url=postComment&id=<?php echo $reviewData["ID_Post"]; ?>" class="w-100" style="min-height: 700px"></iframe>
  </div>
</div>

<div class="w-50 mx-auto">
  <h2 class="text-center">Hodnocení</h2>
  <p class="text-center">Nyní, prosím, ohodnoťte tuto práci 1 (nejhorší) až 10 (nejlepší) body.</p>
  <form method="post" action="" class="mt-5">
    <input type="number" name="postID" value="<?php echo $reviewData["ID_Post"]; ?>" style="display: none">
    <div class="form-row justify-content-center text-center">
      <div class="form-group col-md-2">
        <label for="originality">Originalita</label>
        <input type="number" min="1" max="10" class="form-control" id="originality" value="<?php echo $reviewData["Originality"] ?>" name="originality" required>
      </div>
      <div class="form-group col-md-2">
        <label for="quality">Kvalita</label>
        <input type="number" min="1" max="10" class="form-control" id="quality" value="<?php echo $reviewData["Quality"] ?>" name="quality" required>
      </div>
      <div class="form-group col-md-2">
        <label for="length">Délka</label>
        <input type="number" min="1" max="10" class="form-control" id="length" value="<?php echo $reviewData["Length"] ?>" name="length" required>
      </div>
      <div class="form-group col-md-2">
        <label for="language">Gramatika</label>
        <input type="number" min="1" max="10" class="form-control" id="language" value="<?php echo $reviewData["Language"] ?>" name="language" required>
      </div>
      <div class="form-group col-md-2">
        <label for="overall">Celkové hodnocení</label>
        <input type="number" min="1" max="10" class="form-control" id="overall" value="<?php echo $reviewData["Overall"] ?>" name="overall" required>
      </div>
    </div>
    <h3 class="text-center">Slovní hodnocení</h3>
    <textarea id="editor" name="comment">
      <?php echo $reviewData["Recomendation"] ?>
    </textarea>
    <script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        })
        .catch( error => {
          console.error( error );
        });

      $('#inputFile').on('change',function(){
        var fileName = $(this).val().replace('C:\\fakepath\\', " ");
        $(this).next('.custom-file-label').html(fileName);
      })
    </script>

    <style>
      .ck-editor__editable_inline {
        min-height: 400px;
      }
    </style>
    <input type="submit" id="submitButton" class="btn btn-success w-100" name="submit" value="Upravit hodnocení">
  </form>
</div>
