<div class="w-50 mx-auto">
  <h2 class="text-center mt-5">Upravení příspěvku</h2>
  <p class="text-center">Níže můžete upravit váš vybraný příspěvek.</p>
  <?php
  if(isset($_GET["err"]) && $_GET["err"] == "fileexists") {
    echo '<div class="text-center alert alert-danger">Soubor již existuje, změňte, prosím, název souboru a nahrajte znovu. Je možné nahrát soubor, pokud má stejný název jako soubor, který přepisujete.</div>';
  }
  ?>
  <form method="post" action="" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group w-50 mx-auto mb-1">
        <input type="text" class="form-control" id="workname" placeholder="Název práce" name="workname" required value="<?php echo $_POST["postData"][0]["Nazev"]; ?>">
      </div>
    </div>
    <div class="input-group w-50 mx-auto">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputFile" aria-describedby="inputFile" name="file">
        <label class="custom-file-label mx-auto" for="inputFile" data-browse="Procházet">
          <?php
            $explodedFilePath = explode("/", $_POST["postData"][0]["File"]);
            echo $explodedFilePath[sizeof($explodedFilePath) - 1];
          ?>
        </label>
      </div>
    </div>
    <h4 class="text-center mt-5">Komentář</h4>
    <textarea id="editor" name="comment">
      <?php echo $_POST["postData"][0]["Comment"]; ?>
    </textarea>
    <script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        })
        .catch( error => {
          console.error( error );
        });

      $('#inputFile').on('change',function(){
        var fileName = $(this).val().replace('C:\\fakepath\\', " ");
        $(this).next('.custom-file-label').html(fileName);
      })
    </script>

    <style>
      .ck-editor__editable_inline {
        min-height: 400px;
      }
    </style>
    <input type="submit" id="submitButton" class="btn btn-success w-100" name="submit" value="Upravit příspěvek">
  </form>
</div>
