<div class="w-50 mx-auto">
  <h2 class="text-center mt-5 mb-5">Úprava uživatelských údajů</h2>
  <?php
  if(isset($_GET["err"]) && $_GET["err"] == "success") {
    echo '<div class="text-center alert alert-success">Registrace proběhla úspěšně! Chcete <a href="/?url=login">se přihlásit?</a></div>';
  }
  ?>
  <form method="post" action="" id="editForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Přihlašovací jméno</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noUsername") {
        echo '<input type="text" class="form-control is-invalid" id="username" placeholder="josef_novak" name="username" value="' . $_POST["userData"][0]["Nickname"] . '" required>
        <div class="invalid-feedback">
          Nebylo zadáno přihlašovací jméno.
        </div>';
      } else if(isset($_GET["err"]) && $_GET["err"] == "usernameExists") {
        echo '<input type="text" class="form-control is-invalid" id="username" placeholder="josef_novak" name="username" value="' . $_POST["userData"][0]["Nickname"] . '" required>
        <div class="invalid-feedback">
          Přihlašovací jméno již existuje.
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="username" placeholder="josef_novak" name="username" value="' . $_POST["userData"][0]["Nickname"] . '" required>';
      }
      ?>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Heslo</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noPassword") {
        echo '<input type="password" class="form-control is-invalid" id="password" placeholder="Heslo" name="password" value="' . $_POST["userData"][0]["Password"] . '" required>
        <div class="invalid-feedback">
          Nebylo zadáno heslo.
        </div>';
      } else {
        echo '<input type="password" class="form-control" id="password" placeholder="Heslo" name="password" value="' . $_POST["userData"][0]["Password"] . '" required>';
      }
      ?>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>

    <?php
    if(isset($_GET["err"]) && $_GET["err"] == "noEmail") {
      echo '<input type="email" class="form-control is-invalid" id="email" placeholder="josef@novak.cz" name="email" value="' . $_POST["userData"][0]["Email"] . '" required>
      <div class="invalid-feedback">
        Nebyl zadán email.
      </div>';
    } else if(isset($_GET["err"]) && $_GET["err"] == "emailExists") {
      echo '<input type="email" class="form-control is-invalid" id="email" placeholder="josef@novak.cz" name="email" value="' . $_POST["userData"][0]["Email"] . '" required>
      <div class="invalid-feedback">
        Již existuje účet s daným emailem.
      </div>';
    } else {
      echo '<input type="email" class="form-control" id="email" placeholder="josef@novak.cz" name="email" value="' . $_POST["userData"][0]["Email"] . '" required>';
    }
    ?>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Jméno</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noName") {
        echo '<input type="text" class="form-control is-invalid" id="name" placeholder="Josef" name="name" value="' . $_POST["userData"][0]["Jmeno"] . '" required>
        <div class="invalid-feedback">
          Nebylo zadáno jméno.
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="name" placeholder="Josef" name="name" value="' . $_POST["userData"][0]["Jmeno"] . '" required>';
      }
      ?>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">Příjmení</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noSurname") {
        echo '<input type="text" class="form-control is-invalid" id="surname" placeholder="Novák" name="surname" value="' . $_POST["userData"][0]["Prijmeni"] . '" required>
        <div class="invalid-feedback">
          Nebylo zadáno příjmení.
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="surname" placeholder="Novák" name="surname" value="' . $_POST["userData"][0]["Prijmeni"] . '" required>';
      }
      ?>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone">Telefon (Doporučeno)</label>
      <input type="text" class="form-control" id="phone" placeholder="123456789" name="phone" <?php if ($_POST["userData"][0]["Telefon"] != 0) {echo 'value="' . $_POST["userData"][0]["Telefon"] . '"';} ?>>
    </div>
    <div class="form-group col-md-6">
      <label for="role">Role</label>
      <select class="custom-select" form="editForm" name="role">
        <option value="1" <?php if ($_POST["userData"][0]["Role"] == 1) {echo ' selected';} ?>>Administrátor</option>
        <option value="2" <?php if ($_POST["userData"][0]["Role"] == 2) {echo ' selected';} ?>>Recenzent</option>
        <option value="3" <?php if ($_POST["userData"][0]["Role"] == 3) {echo ' selected';} ?>>Autor</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="button" id="submitButton" class="btn btn-danger w-100" name="submit" onclick="location.href='/?url=userManagement'" value="Zpět">
    </div>
    <div class="form-group col-md-6">
      <input type="submit" id="submitButton" class="btn btn-success w-100" name="submit" value="Upravit uživatele">
    </div>
  </div>
</form>
</div>
