<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<section id="about" class="w-75 mx-auto my-5">
  <h1 class="text-center">O nás</h1>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nullam rhoncus aliquam metus. Praesent id justo in neque elementum ultrices. Et harum quidem rerum facilis est et expedita distinctio. Aliquam id dolor. Nam sed tellus id magna elementum tincidunt. Quisque porta. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Aliquam erat volutpat.</p>

  <p class="text-justify">Sed convallis magna eu sem. Curabitur sagittis hendrerit ante. Sed convallis magna eu sem. Fusce tellus. Maecenas aliquet accumsan leo. Aenean fermentum risus id tortor. Maecenas aliquet accumsan leo. Integer tempor. Praesent in mauris eu tortor porttitor accumsan. Nunc tincidunt ante vitae massa. Sed convallis magna eu sem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Praesent in mauris eu tortor porttitor accumsan. Aliquam id dolor. Nulla quis diam.</p>

  <p class="text-justify">Integer in sapien. Praesent in mauris eu tortor porttitor accumsan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nullam rhoncus aliquam metus. In convallis. Fusce wisi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Phasellus faucibus molestie nisl. Nullam eget nisl. Nullam sit amet magna in magna gravida vehicula. Nullam dapibus fermentum ipsum. Fusce aliquam vestibulum ipsum. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nullam faucibus mi quis velit. Integer tempor. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Proin mattis lacinia justo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

  <p class="text-justify">In rutrum. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Suspendisse sagittis ultrices augue. Etiam neque. Phasellus faucibus molestie nisl. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Curabitur vitae diam non enim vestibulum interdum. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Donec iaculis gravida nulla. Duis risus. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Etiam dictum tincidunt diam. Quisque porta.</p>

  <p class="text-justify">In convallis. Proin in tellus sit amet nibh dignissim sagittis. Pellentesque pretium lectus id turpis. Mauris tincidunt sem sed arcu. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Integer pellentesque quam vel velit. Integer vulputate sem a nibh rutrum consequat. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Aliquam erat volutpat. Aliquam erat volutpat. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis sem.</p>

  <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean fermentum risus id tortor. Fusce nibh. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Nullam dapibus fermentum ipsum. Etiam dictum tincidunt diam. Suspendisse sagittis ultrices augue. Praesent id justo in neque elementum ultrices. Nullam at arcu a est sollicitudin euismod. Aliquam erat volutpat. Curabitur sagittis hendrerit ante. Integer lacinia. Nullam sit amet magna in magna gravida vehicula. Etiam commodo dui eget wisi. Fusce aliquam vestibulum ipsum. Phasellus et lorem id felis nonummy placerat. Pellentesque arcu.</p>

  <p class="text-justify">Fusce consectetuer risus a nunc. Pellentesque ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Praesent dapibus. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Integer imperdiet lectus quis justo. Pellentesque ipsum. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Suspendisse nisl. Phasellus et lorem id felis nonummy placerat. Proin in tellus sit amet nibh dignissim sagittis. Curabitur sagittis hendrerit ante. Etiam posuere lacus quis dolor. Aenean placerat. Aliquam erat volutpat. Nullam eget nisl. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Nullam at arcu a est sollicitudin euismod.</p>

  <p class="text-justify">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Aliquam id dolor. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Vivamus ac leo pretium faucibus. Etiam dictum tincidunt diam. Integer tempor. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Phasellus rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sollicitudin. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Phasellus faucibus molestie nisl.</p>
</section>
<section id="upcoming" class="mb-5">
  <h1 class="text-center mx-auto my-5">Nadcházející události</h1>
  <div class="gallery-slider w-75 mx-auto">
    <div class="post-preview">
    </div>
    <div class="controls">
      <div class="right-arrow bg-primary text-white"><i class="fa fa-angle-left fa-3x"></i></div>
      <div class="left-arrow bg-primary text-white"><i class="fa fa-angle-right fa-3x"></i></div>
    </div>
  </div>
</section>

<script>
$(function() {
  $.getJSON("/conferenceData.json", function(data) {
    for (var akce in data) {
      smallData = data[akce];
      $(".post-preview").append("<div><h3>" + smallData["topic"] + "</h3><h4>Datum: <b>" + smallData["date"] + "</b></h4><h4>" + smallData["school"] + "</h4><h4>" + smallData["faculty"] + "</h4><h4>" + smallData["room"] + "</h4></div>");
    }
    initializeSlider();
  })
})


var target;
var total;
var width;
var c;
var originalLeft;
var totalImg;
var startToEnd;
var a;
var active;

function initializeSlider() {
  target = $('.post-preview');
  total = $('.post-preview div').length;
  width = total * 500 + total * 40;
  c = 1;
  originalLeft = 80;
  totalImg = 500 + 40;
  startToEnd = width -originalLeft -540;
  a = '';
  active = false;

  target.css('width', width);

  $(".left-arrow").click(function () {
    if (active === false){
      if (c === total){
        a = originalLeft;
        c = 1;
      } else {
        a = '-='+totalImg;
        c++;
      }

      active = true;
      target.animate(
        {left: a},
        {duration:500,
          complete: function(){
            active = false;
          }
        });
      }
  });

  $(".right-arrow").click(function () {
    if (active === false){
        if (c === 1){
            a = '-'+startToEnd;
            c = total;
        } else {
            a = '+='+totalImg;

            c--;
        }
        active = true;
      target.animate(
            {left: a},
            {duration:500,
            complete: function(){
              active = false;
            }
        });
    }
  });
}
</script>

<style>
.gallery-slider{
  width:500px;
  height:200px;
  position:relative;
  overflow:hidden;
}
.post-preview{
  width:500px;
  height:200px;
  position:absolute;
  left:80px;
}
.post-preview div{
  display: inline-block;
  width:500px;
  height:200px;
  position:relative;
  float:left;
  margin:0 20px;
}
.control {
  width:100%;
  height:100%;
  position:relative;
}
.right-arrow, .left-arrow{
  position:absolute;
  padding:0 26px;
}
.right-arrow i, .left-arrow i{
  line-height:200px;
}
.right-arrow{
  left:0;
}
.left-arrow{
  right:0;
}
</style>
