<div class="w-50 mx-auto">
  <h2 class="text-center mt-5">Přihlášení</h2>
  <p class="text-center">Pro přihlášení zadejte přihlašovací jméno a heslo a potvrďte</p>
  <?php
    if(isset($_GET["err"]) && $_GET["err"] == "blocked") {
      echo '<div class="text-center alert alert-danger">Účet zablokován! Kontaktujte administrátora!</div>';
    }
  ?>
  <form class="w-75 mx-auto" method="post" action="">
    <div class="form-group mb-1">
      <div class="input-group">
        <div class="input-group-prepend w-25 text-center">
          <span class="input-group-text w-100 text-center" id="inputGroupPrepend3">Přihlašovací jméno</span>
        </div>
        <?php
          if(isset($_GET["err"]) && $_GET["err"] == "username") {
            echo '<input type="text" class="form-control is-invalid" placeholder="Přihlašovací jméno" aria-describedby="inputGroupPrepend3" name="login" required>
            <div class="invalid-feedback">
              Špatné přihlašovací jméno.
            </div>';
          } else {
            echo '<input type="text" class="form-control" placeholder="Přihlašovací jméno" aria-describedby="inputGroupPrepend3" name="login" required>';
          }
        ?>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend w-25">
          <span class="input-group-text w-100 text-center" id="inputGroupPrepend3">Heslo</span>
        </div>
        <?php
          if(isset($_GET["err"]) && $_GET["err"] == "password") {
            echo '<input type="password" class="form-control is-invalid" placeholder="Heslo" aria-describedby="inputGroupPrepend3" name="password" required>
            <div class="invalid-feedback">
              Špatné heslo.
            </div>';
          } else {
            echo '<input type="password" class="form-control" placeholder="Heslo" aria-describedby="inputGroupPrepend3" name="password" required>';
          }
        ?>

      </div>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-success" name="loginButton">Přihlásit se</button>
    </div>
  </form>
</div>
