<?php
  if (isset($_GET["add"]) && $_GET["add"] == "success") {
    echo '<div class="text-center alert alert-success">Příspěvek úspěšně přidán!</div>';
  }

  if (isset($_GET["edit"]) && $_GET["edit"] == "success") {
    echo '<div class="text-center alert alert-success">Příspěvek úspěšně upraven!</div>';
  }
?>
<table class="table px-2 mx-auto table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Název příspěvku</th>
      <th scope="col">Soubor</th>
      <th scope="col">Přidáno</th>
      <th scope="col">Status</th>
      <th scope="col" style="width:11%"></th>
      <th scope="col" style="width:11%"></th>
      <th scope="col" style="width:11%"></th>
    </tr>
  </thead>
  <tbody>
    <?php
      foreach ($_POST["postsData"] as $postData) {
        echo '<tr><th scope="row">' . $postData["ID_Post"] . '</th>';
        echo '<th>' . $postData["Nazev"] . '</th>';
        $explodedFilePath = explode("/", $postData["File"]);
        echo '<th>' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '</th>';
        echo '<th>' . $postData["Added"] . '</th>';
        echo '<th>';
        switch ($postData["Status"]) {
          case 0:
            echo "Čeká na recenzi";
            break;
          case 1:
            echo "Čeká na schválení administátorem";
            break;
          case 2:
            echo "Zamítnuto";
            break;
          case 3:
            echo "Zveřejněno";
            break;
          default:
            echo "Neznámé";
        }
        echo '</th>';

        if ($postData["Status"] == 0) {
          echo '<th><button class="btn btn-secondary w-100 disabled" type="button" disabled>Zobrazit hodnocení</button></th>';
          echo '<th><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=editPost&id=' . $postData["ID_Post"] . '\'">Upravit příspěvek</button></th>';
        } else {
          echo '<th><button class="btn btn-secondary w-100" type="button" onclick="location.href=\'/?url=showReview&id=' . $postData["ID_Post"] . '\'">Zobrazit hodnocení</button></th>';
          echo '<th><button class="btn btn-primary w-100 disabled" disabled type="button" onclick="location.href=\'/?url=editPost&id=' . $postData["ID_Post"] . '\'">Upravit příspěvek</button></th>';
        }

        echo '<th><button class="btn btn-danger w-100" type="button" onclick="location.href=\'/?url=removePost&id=' . $postData["ID_Post"] . '\'">Odstranit příspěvek</button></th>';
      }
    ?>
  </tbody>
