<?php
if(isset($_GET["submit"]) && $_GET["submit"] == "success") {
  echo '<div class="text-center alert alert-success">Recenze úspěšně přidána</div>';
}
if(isset($_GET["edit"]) && $_GET["edit"] == "success") {
  echo '<div class="text-center alert alert-success">Recenze úspěšně upravena</div>';
}
?>
<table class="table px-2 mx-auto table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Název příspěvku</th>
      <th scope="col">Soubor</th>
      <th scope="col">Přiřazeno ke kontrole</th>
      <th scope="col" colspan="5">Hodnocení</th>
      <th scope="col" style="width:11%"></th>
    </tr>
  </thead>
  <tbody>
    <?php
    foreach ($_POST["reviewData"] as $reviewData) {
      echo '<tr><th scope="row">' . $reviewData["ID_Post"] . '</th>';
      echo '<th>' . $reviewData["Nazev"] . '</th>';
      $explodedFilePath = explode("/", $reviewData["File"]);
      echo '<th>' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '</th>';
      echo '<th>' . $reviewData["ReviewTimestamp"] . '</th>';
      if ($reviewData["ReviewStatus"] == 0) {
        echo '<th scope="col" colspan="5">Nehodnoceno</th>';
      } else {
        echo '<th style="width:2%">' . $reviewData["Originality"] . '</th>';
        echo '<th style="width:2%">' . $reviewData["Quality"] . '</th>';
        echo '<th style="width:2%">' . $reviewData["Length"] . '</th>';
        echo '<th style="width:2%">' . $reviewData["Language"] . '</th>';
        echo '<th style="width:2%">' . $reviewData["Overall"] . '</th>';
      }

      if ($reviewData["ReviewStatus"] == 0) {
        echo '<th><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=doReview&id=' . $reviewData["ID_review"] . '\'">Ohodnotit</button></th>';
      } else if ($reviewData["Status"] == 1) {
        echo '<th><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=editReview&id=' . $reviewData["ID_review"] . '\'">Upravit hodnocení</button></th>';
      } else {
        echo '<th><button class="btn btn-secondary w-100 disabled" type="button" disabled>Upravit hodnocení</button></th>';
      }
    }
    ?>
  </tbody>
</table>
