<?php
if(isset($_GET["add"]) && $_GET["add"] == "success") {
  echo '<div class="text-center alert alert-success">Recenzenti úspěšně přiřazeni</div>';
}

if(isset($_GET["allow"]) && $_GET["allow"] == "success") {
  echo '<div class="text-center alert alert-success">Příspěvek zveřejněn!</div>';
}

if(isset($_GET["block"]) && $_GET["block"] == "success") {
  echo '<div class="text-center alert alert-danger">Příspěvek zablokován!</div>';
}
?>
<table class="table table-borderless table-condensed px-2 mx-auto">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Název příspěvku</th>
      <th scope="col">Autor</th>
      <th scope="col">Přidáno</th>
      <th scope="col">Stav</th>
      <th scope="col" colspan="2" style="width:22%">Recenzenti</th>
      <th scope="col" style="width:9%">Zobrazit příspěvek</th>
      <th scope="col" style="width:9%">Zobrazit recenze</th>
      <th scope="col" style="width:9%">Schválit</th>
      <th scope="col" style="width:9%">Odmítnout</th>
    </tr>
  </thead>
    <?php
      global $addedReviewers;
      $addedReviewers = array();
      $addedPosts = array();
      $count = 1;

      $postsData = $_POST["posts"];

      foreach ($postsData as $post) {
        if (!in_array($post["ID_Post"], $addedPosts)) {
          $count = 1;
          echo '<tbody><tr>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle">' . $post["ID_Post"] . '</td>
              <td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle">' . $post["Nazev"] . '</td>';
          foreach ($_POST["authors"] as $author) {
            if($author["ID_Post"] == $post["ID_Post"]) {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle">' . $author["Jmeno"] . " " . $author["Prijmeni"] . '</td>';
            }
          }
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle">' . $post["Added"] . '</td>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle">';
          switch ($post["Status"]) {
            case 0:
              echo "Čeká na recenzi";
              break;
            case 1:
              echo "Čeká na schválení administátorem";
              break;
            case 2:
              echo "Zamítnuto";
              break;
            case 3:
              echo "Zveřejněno";
              break;
            default:
              echo "Neznámé";
          }
          echo '</td>';
        }

        if ($post["ID_review"] == NULL) {
          echo "<form action='' method='post'>";
          $addedReviewers = array();
          echo getReviewerDropdown();
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem; width: 9%" class="align-middle"><input type="number" style="display: none" name="inputPostID" value="' . $post["ID_Post"] . '"><input type="submit" class="btn btn-primary w-100" type="button" name="submit" value="Přiřadit na recenzi"></td>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-primary w-100" type="button" disabled>Zobrazit práci</button></td>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-primary w-100" type="button" disabled>Zobrazit recenze</button></td>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-success w-100" type="button" disabled>Schválit práci</button></td>';
          echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-danger w-100" type="button" disabled>Zamítnout práci</button></td>';
          echo '</tr>';
          echo getReviewerDropdown();
          echo '</tr>';
          echo getReviewerDropdown();
          echo '</tr>';
          echo '</form>';
          echo '</tbody>';
        } else {
          echo '<td colspan="2" style="padding-bottom: .1rem;padding-top: .1rem;">' . $post["Jmeno"] . ' ' . $post["Prijmeni"] . '</td>';
          if (!in_array($post["ID_Post"], $addedPosts)){
            echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=showPost&id=' . $post["ID_Post"] . '\'">Zobrazit práci</button></td>';
            if ($post["Status"] != 0) {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=showReview&id=' . $post["ID_Post"] . '\'">Zobrazit recenze</button></td>';
            } else {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-primary w-100" type="button" disabled>Zobrazit recenze</button></td>';
            }

            if ($post["Status"] == 1 || $post["Status"] == 2) {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-success w-100" type="button" onclick="location.href=\'/?url=allowPost&id=' . $post["ID_Post"] . '\'">Schválit práci</button></td>';
            } else {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-success w-100" type="button" disabled>Schválit práci</button></td>';
            }

            if ($post["Status"] == 1 || $post["Status"] == 3) {
              echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-danger w-100" type="button" onclick="location.href=\'/?url=blockPost&id=' . $post["ID_Post"] . '\'">Zamítnout práci</button></td>';
            } else {
            echo '<td rowspan="3" style="padding-bottom: .1rem;padding-top: .1rem;" class="align-middle"><button class="btn btn-danger w-100" type="button" disabled>Zamítnout práci</button></td>';
            }

            array_push($addedPosts, $post["ID_Post"]);
          }
          echo '</tr>';

          if ($count == 3) {
            echo '</tbody>';
          } else {
            $count++;
          }
        }
      }
    ?>
  </tbody>
</table>

<style>
  tbody:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
  }
</style>
<?php
  function getReviewerDropdown() {
    global $addedReviewers;
    $val = '<td style="padding-bottom: .1rem;padding-top: .1rem;"><select class="w-100" name="reviewer' . sizeof($addedReviewers) . '">';
    $pushed = false;
    foreach ($_POST["reviewers"] as $reviewer) {
      if (!in_array($reviewer["ID_Uzivatel"], $addedReviewers)) {
        if ($pushed == false) {
          array_push($addedReviewers, $reviewer["ID_Uzivatel"]);
          $pushed = true;
        }

        $val .= '<option value="' . $reviewer["ID_Uzivatel"] . '">' . $reviewer["Jmeno"] . " " . $reviewer["Prijmeni"] . '</option>';
      }
    }
    $val .= "</select></td>";

    return $val;
  }
