<table class="table px-2 mx-auto table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Autor</th>
      <th scope="col">Název příspěvku</th>
      <th scope="col">Soubor</th>
      <th scope="col">Přidáno</th>
      <th scope="col" style="width:11%"></th>
    </tr>
  </thead>
  <tbody>
    <?php
      foreach ($_POST["postsData"] as $postData) {
        echo '<tr><th scope="row">' . $postData["ID_Post"] . '</th>';
        echo '<th scope="row">' . $postData["Jmeno"] . " " . $postData["Prijmeni"] . '</th>';
        echo '<th>' . $postData["Nazev"] . '</th>';
        $explodedFilePath = explode("/", $postData["File"]);
        echo '<th>' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '</th>';
        echo '<th>' . $postData["Added"] . '</th>';

        echo '<th><button class="btn btn-primary w-100" type="button" onclick="location.href=\'/?url=showPost&id=' . $postData["ID_Post"] . '\'">Zobrazit příspěvek</button></th>';
      }
    ?>
  </tbody>
