<div class="w-50 mx-auto">
  <h2 class="text-center mt-5">Registrace</h2>
  <p class="text-center">Pro registraci do systému vyplňte, prosím, všechny potřebné údaje</p>
  <?php
  if(isset($_GET["err"]) && $_GET["err"] == "success") {
    echo '<div class="text-center alert alert-success">Registrace proběhla úspěšně! Chcete <a href="/?url=login">se přihlásit?</a></div>';
  }
  ?>
  <form method="post" action="">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Přihlašovací jméno</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noUsername") {
        echo '<input type="text" class="form-control is-invalid" id="username" placeholder="josef_novak" name="username" required>
        <div class="invalid-feedback">
          Nebylo zadáno přihlašovací jméno.
        </div>';
      } else if(isset($_GET["err"]) && $_GET["err"] == "usernameExists") {
        echo '<input type="text" class="form-control is-invalid" id="username" placeholder="josef_novak" name="username" required>
        <div class="invalid-feedback">
          Přihlašovací jméno již existuje. Chcete <a href="/?url=login">se přihlásit?</a>
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="username" placeholder="josef_novak" name="username" required>';
      }
      ?>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Heslo</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noPassword") {
        echo '<input type="password" class="form-control is-invalid" id="password" placeholder="Heslo" name="password" required>
        <div class="invalid-feedback">
          Nebylo zadáno heslo.
        </div>';
      } else {
        echo '<input type="password" class="form-control" id="password" placeholder="Heslo" name="password" required>';
      }
      ?>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>

    <?php
    if(isset($_GET["err"]) && $_GET["err"] == "noEmail") {
      echo '<input type="email" class="form-control is-invalid" id="email" placeholder="josef@novak.cz" name="email" required>
      <div class="invalid-feedback">
        Nebyl zadán email.
      </div>';
    } else if(isset($_GET["err"]) && $_GET["err"] == "emailExists") {
      echo '<input type="email" class="form-control is-invalid" id="email" placeholder="josef@novak.cz" name="email" required>
      <div class="invalid-feedback">
        Již existuje účet s daným emailem. Chcete <a href="/?url=login">se přihlásit?</a>
      </div>';
    } else {
      echo '<input type="email" class="form-control" id="email" placeholder="josef@novak.cz" name="email" required>';
    }
    ?>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Jméno</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noName") {
        echo '<input type="text" class="form-control is-invalid" id="name" placeholder="Josef" name="name" required>
        <div class="invalid-feedback">
          Nebylo zadáno jméno.
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="name" placeholder="Josef" name="name" required>';
      }
      ?>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">Příjmení</label>

      <?php
      if(isset($_GET["err"]) && $_GET["err"] == "noSurname") {
        echo '<input type="text" class="form-control is-invalid" id="surname" placeholder="Novák" name="surname" required>
        <div class="invalid-feedback">
          Nebylo zadáno příjmení.
        </div>';
      } else {
        echo '<input type="text" class="form-control" id="surname" placeholder="Novák" name="surname" required>';
      }
      ?>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone">Telefon (Doporučeno)</label>
      <input type="text" class="form-control" id="phone" placeholder="123456789" name="phone">
    </div>
    <div class="form-group offset-md-3 col-md-3 mr-auto">
      <label for="submitButton">&nbsp;</label>
      <input type="submit" id="submitButton" class="btn btn-primary w-100" name="submit" value="Zaregistrovat">
    </div>
  </div>
</form>
</div>
