<?php
$postData = $_POST["postData"][0];
$explodedFilePath = explode("/", $postData["File"]);
$explodedFileName = explode(".", $explodedFilePath[sizeof($explodedFilePath) - 1]);
?>
<div class="row">
  <div class="w-50" style="min-height: 800px">
    <h2 class="text-center">Odevzdaná práce</h2>
    <?php
    if($explodedFileName[sizeof($explodedFileName) - 1] == "pdf") {
      echo '<object data="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '" type="application/pdf" class="w-100" style="min-height: 700px">
        <embed src="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '" type="application/pdf" />
        </object>';
    } else {
      echo '<h2 class="text-center">Pro prohlížení práce je nutné soubor <a href="/media/' . $explodedFilePath[sizeof($explodedFilePath) - 1] . '">stáhnout.</a>';
    }
    ?>
  </div>

  <div class="w-50" style="min-height: 800px">
    <h2 class="text-center">Komentář autora</h2>
    <iframe src="/?url=postComment&id=<?php echo $postData["ID_Post"]; ?>" class="w-100" style="min-height: 700px"></iframe>
  </div>
</div>
