<?php
$reviewData = $_POST["reviewData"];
$id = 1;
?>
<div class="w-50 mx-auto">
  <h2 class="text-center">Hodnocení práce <?php echo $reviewData[0]["Nazev"]; ?></h2>
  <p class="text-center">Kladné hodnocení práce <span class="text-danger font-weight-bold">neznamená</span> přijetí práce.</p>
</div>
<?php
  foreach ($reviewData as $review) {
    echo '<h2 class="text-center my-5">Hodnocení recenzenta č. ' . $id . '</h2>';
    if ($review["ReviewStatus"] == 1) {
      echo '<div class="form-row justify-content-center text-center w-75 mx-auto">
        <div class="form-group col-md-2">
          <label for="originality" class="font-weight-bold" style="font-size: 22px">Originalita</label>
          <h2 id="originality">' . $review["Originality"] . '</h2>
        </div>
        <div class="form-group col-md-2">
          <label for="quality" class="font-weight-bold" style="font-size: 22px">Kvalita</label>
          <h2 id="quality">' . $review["Quality"] . '</h2>
        </div>
        <div class="form-group col-md-2">
          <label for="length" class="font-weight-bold" style="font-size: 22px">Délka</label>
          <h2 id="length">' . $review["Length"] . '</h2>
        </div>
        <div class="form-group col-md-2">
          <label for="language" class="font-weight-bold" style="font-size: 22px">Gramatika</label>
          <h2 id="language">' . $review["Language"] . '</h2>
        </div>
        <div class="form-group col-md-2">
          <label for="overall" class="font-weight-bold" style="font-size: 22px">Celkové hodnocení</label>
          <h2 id="overall">' . $review["Overall"] . '</h2>
        </div>
      </div>
      <div class="w-75 mx-auto" style="min-height: 800px">
        <h2 class="text-center">Slovní hodnocení rencenzenta</h2>
        <iframe src="/?url=reviewComment&id=' . $review["ID_review"] . '" class="w-100" style="min-height: 700px"></iframe>
      </div>';
    } else {
      echo '<h2 class="text-center pb-5">Prozatím nehodnoceno</h2>';
    }
    $id++;
  }
?>
