<table class="table px-2 mx-auto table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Jméno</th>
      <th scope="col">Příjmení</th>
      <th scope="col">Email</th>
      <th scope="col">Telefon</th>
      <th scope="col">Role</th>
      <th scope="col" style="width:8%"></th>
      <th scope="col" style="width:8%"></th>
      <th scope="col" style="width:8%"></th>
    </tr>
  </thead>
  <tbody>
    <?php
      foreach ($_POST["usersData"] as $userData) {
        if ($userData["Active"] == 2) {
          continue;
        }
        echo '<tr><th scope="row">' . $userData["ID_Uzivatel"] . '</th>';
        echo '<th>' . $userData["Nickname"] . '</th>';
        echo '<th>' . $userData["Jmeno"] . '</th>';
        echo '<th>' . $userData["Prijmeni"] . '</th>';
        echo '<th>' . $userData["Email"] . '</th>';
        if ($userData["Telefon"] != 0) {
            echo '<th>' . $userData["Telefon"] . '</th>';
        } else {
          echo '<th></th>';
        }

        if ($userData["Role"] == 1) {
          echo '<th>Administrátor</th>';
        } else if ($userData["Role"] == 2) {
          echo '<th>Recenzent</th>';
        } else {
          echo '<th>Autor</th>';
        }

        echo '<th><button class="btn btn-secondary w-100" type="button" onclick="location.href=\'/?url=editUser&id=' . $userData["ID_Uzivatel"] . '\'">Upravit</button></th>';

        if ($userData["Active"] == 1) {
          echo '<th><button class="btn btn-danger w-100" type="button" onclick="location.href=\'/?url=block&id=' . $userData["ID_Uzivatel"] . '\'">Zablokovat</button></th>';
        } else {
          echo '<th><button class="btn btn-success w-100" type="button" onclick="location.href=\'/?url=unblock&id=' . $userData["ID_Uzivatel"] . '\'">Odblokovat</button></th>';
        }

        echo '<th><button class="btn btn-danger w-100" type="button" onclick="location.href=\'/?url=deleteUser&id=' . $userData["ID_Uzivatel"] . '\'">Odstranit</button></th>';
        echo '</tr>';
      }
    ?>
  </tbody>
</table>
